@import 'mixin';
$fontDefault: Lato;
$colorSite: #F16D7F;
$sizeSite: 1140px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    padding-left: calc(50% - #{$sizeSite}/2);
    padding-right: calc(50% - #{$sizeSite}/2);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

summary {
    display: block;
    &::-webkit-details-marker {
        display: none;
    }
    &:focus {
        outline: none;
    }
}

/* Общие секции */

.select {
    color: $colorSite;
}

.page_selected {
    color:#EF5B70;
}

.header {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 75px;
    background: #222;
    &__search {
        margin-left: 41px;
    }
    &__right a:not(:last-of-type){
        margin-right: 33px;
    }
    & img {
        transition-duration: 0.3s;
    }
    & img:hover {
        transform: translateY(-3px);
    }
}

#menu_btn {
    display: none;
    &:checked ~ .menu {
        background: rgba(0, 0, 0, 0.5);
        transform: translateX(0);
    }
    &:checked ~ .menu > .menu__list {
        transform: translateY(0);
    }
}

.menu {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    width: 100%;
    min-height: 764px;
    display: flex;
    justify-content: flex-end;  
    overflow: hidden;    
    background: rgba(0, 0, 0, 0);
    transform: translateX(-120%);
    transition: background 0.5s;
    &_img {
        margin-right: 33px;
        &:hover {
            cursor: pointer;
        }
    }
    &__list {
        margin-right: calc(50% - 800px);
        margin-left: calc(50% - 800px);
        width: 232px;
        transform: translateY(-120%);
        transition-duration: 0.3s;
        background: #fff;
        box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.9);
        padding: 16px 16px 16px 34px;
    }
    &__close {
        display: block;
        text-align: right;
        margin-bottom: 8px;
        &_svg {
            fill: #6F6E6E;
            &:hover {
                cursor: pointer;
                fill: $colorSite;
            }
        }
    }
    &__heading {
        font: bold 14px/17px $fontDefault;
        margin-bottom: 24px;
        &_icon {
            fill: $colorSite;
            margin-right: 10px;
            margin-bottom: -2px;
        }
        &_text {
            color: $colorSite;
        }
        &_nav {
            transition-duration: 0.3s;
            display: none;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
    &__category {
        display: flex;
        flex-direction: column;
        margin-bottom: 9px;
        &_heading {
            font: 14px/17px $fontDefault;
            color: #F16D7F;
            margin-bottom: 12px;
        }
        &_item {
            font: 14px/17px $fontDefault;
            color: #6F6E6E;
            margin-bottom: 11px;
            padding-left: 20px;
            &:hover {
                color:$colorSite;
            }
        }
    }
}

.feature {
    display: flex;
    padding-top: 104px;
    padding-bottom: 104px;
    background: #222;
    &__item {
        width: 360px;
        text-align: center;
        padding-right: 32px;
        padding-left: 16px;
        color: #FBFBFB;
    }
    &__item:not(:last-child) {
        margin-right: 30px;
    }
    &__img {
        height: 40px;
    }
    &__heading {
        font: 20px/24px $fontDefault;
        padding: 16px 0;
    }
    &__text {    
        font: 300 14px/17px $fontDefault;
        text-align: center;
    }
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 448px;
    background: url(../img/subscribe-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    &__left {
        text-align: center;
        width: 360px;
        margin-top: -60px;
    }
    &__comment {
        font: 20px/24px $fontDefault;
        color: #222;
        margin-top: 30px;
    }
    &__right {
        text-align: center;
        width: 50%;
    }
    &__heading {
        font: bold 24px/40px $fontDefault;
        color: #222;
    }
    &__text {
        font: 18px/30px $fontDefault;
        color: #222;
    }
    &__form {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
    &__email {
        font: 14px/17px $fontDefault;
        width: 256px;
        height: 48px;
        background: #E1E1E1;
        outline: none;
        border:  none;
        border-top-left-radius: 7% 50%;
        border-bottom-left-radius: 7% 50%;
        padding: 6px 22px;
        color: #222;
        opacity: 0.67;
    }
    &__button {
        font: 14px/17px $fontDefault;
        width: 100px;
        height: 48px;
        background: $colorSite;
        outline: none;
        border:  none;
        border-top-right-radius: 17% 50%;
        border-bottom-right-radius: 17% 50%;
        padding: 6px;
        color: #fff;
        transition-duration: 0.5s;
    }
    &__button:hover {
        background: $colorSite  - #111;
        cursor: pointer;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    background: #222;
}

.copyright {
    font: 16px/19px $fontDefault;
    color: #FBFBFB;
    padding: 30px 0;
}

.social {
    display: flex;
    text-align: center;
    margin-top: 24px;
    &__icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        font: 16px/32px $fontDefault;
        background: #fff;
        color: #000;
        transition-duration: 0.5s;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &:hover {
            background: $colorSite;
            color: #fff;
        }
    }
}

/* main page*/

.promo {
    display: flex;
    background-color: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    &__img {
        display: flex;
        width: 50%;
    }
    &__photo {
        width: 100%;
    }
    &__text {
        width: 50%;
        padding-left: 64px;
    }
    &__content {
        margin-top: 40%;
        border-left: 12px solid $colorSite;
        padding-left: 16px;
    }
    &__heading {
        font: 900 48px/58px $fontDefault;
        color: #222;
    }
    &__info {
        font: bold 32px/38px $fontDefault;
        color: #222;
    }
}

.sale {
    padding-top: 64px;
    &__top {
        display: flex;
        padding-bottom: 30px;
    }
    &__img {
        width: 100%;
    }
    &__item {
        position: relative;
        &:not(:last-child) {
            padding-right: 30px;
        }
    }
    &__text {
        position: absolute;
        top:0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    &__p {
        font: 16px/19px $fontDefault;
        color: #FFF;
    }
    &__heading {
        font: bold 24px/29px $fontDefault;
        color: $colorSite;
    }
}

.products {
    margin-top: 96px;
    margin-bottom: 96px;
    text-align: center;
    &__heading {
        font: 30px/36px $fontDefault;
        color: #222;
        padding-bottom: 6px;
    }
    &__p {
        font: 14px/17px $fontDefault;
        color: #9F9F9F;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
        margin-top: 48px;
    }
    &__item {
        width: 360px;
        margin-bottom: 30px;
        background: #F8F8F8;
        transition-duration: 0.3s;
        &_img {
            font-size: 0;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background: rgba(58, 56, 56, 0);
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition-duration: 0.5s;
            }

            &_link {
                position: absolute;
                display: inline-block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        &:hover {
            transform: scale(1.03)
        }
        &:hover > &_img::before {
            background: rgba(58, 56, 56, 0.86);
        }
        &_link {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 7px;
            color: #fff;
            width: 140px;
            height: 44px;
            border: 1px solid #fff;
            font: 14px/17px $fontDefault;
            transition-duration: 0.5s;
            opacity: 0;
            &:hover {
                box-shadow: 0 0 10px #fff;
            }
        }
        &:hover &_link {
            opacity: 1;
        }
        &_text {
            padding: 20px 28px 20px 16px;    
        }
        &_heading {
            font: 13px/16px $fontDefault;
            color: #000;
        }
        &_p {
            font: 300 14px/17px $fontDefault;
            color: #5D5D5D;
            padding-top: 12px;
            padding-bottom: 18px;
        }
        &_price {
            font: 16px/19px $fontDefault;
            color: $colorSite;
        }
    }
    &__button {
        display: inline-block;
        font: 16px/19px $fontDefault;
        color: #F26376;
        border: 1px solid #FF6A6A;
        background: transparent;
        margin-top: 12px;
        padding: 14px 40px;
        transition-duration: 0.5s;
        &:hover {
            color: #fff;
            background: $colorSite;
            cursor: pointer;
        }
    }
}

/* catalog page*/

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F3F4;
    height: 148px;
    &__heading {
        font: 24px/29px $fontDefault;
        color: $colorSite;
    }
    &__item {
        font: 300 14px/17px $fontDefault;
        color: #636363;
        &:last-child {
            font-weight: bold;
            color: $colorSite;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.products__filter {
    position: relative;
    text-align: left;
    margin-top: -45px;
    padding-bottom: 16px;
    &_main {
        position: absolute;
        z-index: 1;
        display: inline-block;
        width: 360px;
        padding-top: 13px;
        margin-top: -13px;
        &[open] {
            background: #FFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }
        &_heading {
            display: inline;
            font: 600 14px/17px $fontDefault;
            color: #000;
            cursor: pointer;
            padding-left: 16px;
        }
        &_text {
            margin-right: 11px;
        }
        &[open] &_heading {
            display: block;
            color: #EF5B70;
        }
        &_icon {
            fill: #000;
        }
        &[open] &_icon {
            fill: #EF5B70;
        }
        &_menu {
            padding: 16px 16px 0;
        }
        &_category {
            display: flex;
            align-items: center;
            height: 37px;
            padding-left: 11px;
            border-left: 5px solid #EF5B70;
            border-bottom: 1px solid #EBEBEB;
            font: 14px/17px $fontDefault;
            color: #6F6E6E;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
        &_item[open] &_category {
            color: #EF5B70;
        }
        &_list {
            padding: 6px 16px 13px;
            font: 14px/17px $fontDefault;
            color: #6F6E6E;
            & li {
                margin-bottom: 11px;
                cursor: pointer;
                transition-duration: 0.3s;
                &:hover {
                    color: #EF5B70;
                    font-weight: bold;
                }
            }
        }
    }
    &_add {
        display: inline-block;
        margin-left: 390px;
        font: 14px/17px $fontDefault;
        color: #6F6E6E;
        &_item {
            position: relative;
            display: inline-block;
            padding-right: 24px;
        }
        &_heading {
            cursor: pointer;
            & span {
                display: inline-block;
                padding-right: 8px;
            }
        }
        &_icon {
            fill: #6F6E6E;
        }
        &_list {
            position: absolute;
            top: 120%;
            left: -10px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            padding-top: 8px;
            width: 100%;
            background: #FFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            & input[type=checkbox] {
                display: none;
            }
            & span {
                display: flex;
                align-items: center;
                font: 14px/16px $fontDefault;
                margin-bottom: 8px;
                color: #6F6E6E;
                cursor: pointer;
            }
            & span::before {
                content: "";
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                width: 12px;
                height: 12px;
                border: 1px solid #EBEBEB;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
            & input:checked + span::before {
                border-color:#6F6E6E;
                background-color: #6F6E6E;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }
    }
}

.products__pages {
    display: inline-block;
    font-size: 0;
    height: 44px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    font: 300 16px/44px $fontDefault;
    color: #C4C4C4;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 18px;
    &_number {
        color: #C4C4C4;
        margin-left: 8px;
        margin-right: 8px;
    }
    &_arrow {
        margin-left: 8px;
        margin-right: 8px;
    }
    &_points {
        display: inline;
        margin-left: -10px;
        margin-right: -10px;
    }
}

/* product page*/

.product-img {
    height: 777px;
    border: 1px solid #EAEAEA;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    &__arrow {
        position: absolute;
        height: 47px;
        width: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(42, 42, 42, 0.15);
        transition-duration: 0.3s;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        &_left {
            fill: black;
        }
        &_right {
            fill: $colorSite;
        }
        &_l {
            left: 0;
        }
        &_r {
            right: 0;
        }
    }
}

.product-info {
    text-align: center;
    width: $sizeSite;
    padding-top: 64px;
    padding-bottom: 64px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #EAEAEA;
    transform: translateY(-64px);
    &__category {
        font: 300 14px/17px $fontDefault;
        display: inline-block;
        color: $colorSite;
        position: relative;
        margin-bottom: 28px;
        &::before {
            content: "";
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            margin: 0 auto;
            height: 3px;
            width: 45%;
            background: #EF5B70;
        }
    }
    &__heading {
        font: 300 18px/22px $fontDefault;
        color: #4D4D4D;
        margin-bottom: 48px;
    }
    &__description {
        font: 300 14px/17px $fontDefault;
        color: #5E5E5E;
        max-width: 554px;
        margin: 0 auto 32px;
    }
    &__price {
        font: 300 24px/29px $fontDefault;
        color: #EF5B70;
        margin-bottom: 64px;
    }
    &__line {
        height: 1px;
        width: 75%;
        margin: 0 auto;
        background: #EAEAEA;
        margin-bottom: 64px;
    }
    &__filter {
        display: inline-block;
        font: 14px/17px $fontDefault;
        color: #6F6E6E;
        margin-bottom: 48px;
        &_item {
            position: relative;
            display: inline-block;
            padding-right: 24px;
        }
        &_heading {
            cursor: pointer;
            & span {
                display: inline-block;
                padding-right: 8px;
            }
        }
        &_icon {
            fill: #6F6E6E;
        }
        &_list {
            position: absolute;
            top: 120%;
            left: -10px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            padding-top: 8px;
            width: 100%;
            background: #FFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            & input[type=checkbox] {
                display: none;
            }
            & span {
                display: flex;
                align-items: center;
                font: 14px/16px $fontDefault;
                margin-bottom: 8px;
                color: #6F6E6E;
                cursor: pointer;
            }
            & span::before {
                content: "";
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                width: 12px;
                height: 12px;
                border: 1px solid #EBEBEB;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
            & input:checked + span::before {
                border-color:#6F6E6E;
                background-color: #6F6E6E;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }
    }
    &__link {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0 24px;
        color: #F26376;
        width: 212px;
        height: 48px;
        border: 1px solid #FF6A6A;
        font: 16px/19px $fontDefault;
        transition-duration: 0.5s;
        &_img {
            fill: #EF5B70;
        }
        &_text {
            padding-left: 24px;
        }
        &:hover {
            box-shadow: 0 0 5px #FF6A6A;
            transform: scale(1.05);
        }
    }
}

.product-sentence {
    margin-top: 64px;
    margin-bottom: 128px;
}

/* cart page*/

.cart {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 128px;
    &__product {
        display: flex;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
        margin-bottom: 40px;
        &_info {
            margin: 22px 56px 0 32px;
        }
        &_heading {
            font: 24px/29px $fontDefault;
            color: #222222;
            margin-bottom: 42px;
            max-width: 262px;
        }
        &_text {
            font: 22px/26px $fontDefault;
            color: #575757;
            margin-bottom: 6px;
            &_price {
                color: #EF5B70;
            }
            &_quantity {
                display: inline-block;
                width: 44px;
                margin-left: 24px;
                transform: translateY(-3px);
                border: 1px solid #EAEAEA;
                text-align: center;
                font: 18px/22px $fontDefault;
            }
        }
        &_close {
            margin-top: 28px;
            margin-right: 22px;
            fill: #575757;
            transition-duration: 0.3s;
            &:hover {
                cursor: pointer;
                fill: $colorSite;
            }
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 72px;
        &_btn {
            padding: 16px 40px;
            border: 1px solid #A4A4A4;
            font: 300 14px/17px $fontDefault;
            color: #000;
            transition-duration: 0.3s;
            &:hover {
                cursor: pointer;
                color: #fff;
                font-weight: bold;
                background: $colorSite;
            }
        }
    }
    &__right {
        margin-top: 16px;
        width: 360px;
    }
    &__form {
        margin-bottom: 56px;
        &_heading {
            font: 300 16px/19px $fontDefault;
            color: #222;
            margin-bottom: 20px;
        }
        &_field {
            display: block;
            outline: none;
            font: 300 13px/16px $fontDefault;
            color: #B1B1B1;
            border: 1px solid #A4A4A4;
            height: 45px;
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 20px;
            &::placeholder {
                font: 300 13px/16px $fontDefault;
                color: #222;
                opacity: 1;
                transition: opacity 0.3s ease;
            }
            &:focus::placeholder {
                opacity: 0;
            }
        }
        &_btn {
            font: 300 11px/13px $fontDefault;
            color: #4A4A4A;
            padding-left: 16px;
            padding-right: 16px;
            background: transparent;
            outline: none;
            border: 1px solid #A4A4A4;
            margin-top: 3px;
            height: 35px;
            transition-duration: 0.3s;
            &:hover {
                cursor: pointer;
                color: #fff;
                font-weight: bold;
                background: $colorSite;
            }
        }
    }
    &__total {
        background: #F5F3F3;
        padding: 40px 44px;
        &__sub {
            display: flex;
            justify-content: flex-end;
            margin-right: -10px;
            margin-bottom: 12px;
            font: 11px/13px $fontDefault;
            color: #4A4A4A;
            &_price {
                margin-left: 25px;
            }
        }
        &__grand {
            display: flex;
            justify-content: flex-end;
            margin-right: -6px;
            margin-bottom: 21px;
            font: 300 16px/19px $fontDefault;
            color: #222;
            &_price {
                font-weight: bold;
                color: #F16D7F;
                margin-left: 25px;
            }
        }
        &__line {
            width: 100%;
            height: 1px;
            background: #E2E2E2;
            margin-bottom: 16px;
        }
        &__btn {
            height: 50px;
            background: #F16D7F;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font: 300 16px/19px $fontDefault;
            transition-duration: 0.3s;
            &:hover {
                cursor: pointer;
                transform: translateY(-2px) scale(1.02);
                font-weight: bold;
            }
        }
    }
}

/* registration page*/

.registration {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
    &__form {
        width: 360px;
        &_heading {
            font: 300 16px/19px $fontDefault;
            color: #222;
            margin-bottom: 20px;
        }
        &_field {
            width: 100%;
            height: 45px;
            margin-bottom: 20px;
            padding-left: 16px;
            padding-right: 16px;
            outline: none;
            &::placeholder {
                font: 300 13px/16px $fontDefault;
                color: #B1B1B1;
            }
        }
        &_radio {
            &_text {
                display: inline-block;
                padding-left: 10px;
                padding-right: 20px;
                font: 300 11px/13px $fontDefault;
                color: #000;
                margin-top: 11px;
                margin-bottom: 33px;
                transform: translateY(-20%)
            }
        }
        &_text {
            font: 300 13px/16px $fontDefault;
            color: #B1B1B1;
            margin-bottom: 40px;
        }
        &_btn {
            display: inline-block;
            background: #F16D7F;
            padding: 16px 29px;
            transition-duration: 0.3s;
            &_text {
                font: 14px/17px $fontDefault;
                color: #fff;
            }
            &_img {
                fill: #fff;
                margin-left: 20px;
            }
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px #F16D7F;
                transform: scale(1.02)
            }
        }
    }
    &__loyalty {
        font: 300 24px/29px $fontDefault;
        width: 652px;
        &_heading {
            font-weight: 300;
            margin-bottom: 20px;
        }
        &_text {
            margin-bottom: 20px;
        }
        &_list {
            &_item {
                position: relative;
                padding-left: 42px;
                &::before {
                    content: url(../img/reg_list.svg);
                    margin-right: 22px;
                    position: absolute;
                    left: 0;
                    top: 25%;
                }
               margin-bottom: 16px;
            }
        }
    }
}

@import 'fonts';

@import 'media';