body {
	font: 11px Verdana, sans-serif;
	margin:0;
	padding:0;
}

#wrapper {
	width:600px;
	background-color:#eee;
	outline:0px solid #000;
	padding:1px;
}

#content {
	padding: 0 20px;
}

legend {
	font-size:14px;
}
.heading {
	font-weight:bold;
}

fieldset {
	background-color:#ccc;
	border: 1px solid #000;
	padding:10px;
	margin:10px 0;
}

textarea {
	width:555px;
	border:1px dotted #000;
}

textarea:focus {
	outline:none;
	border:2px dotted #be0d12;
	background-color:#fff;
}

input.user_input {
	border:1px solid #000;
	height:27px;
	width:300px;
	background-image:url(img/inputbg.jpg);
	background-repeat:repeat-x;
}

input.user_input:focus {
	outline:none;
	border:2px dotted #be0d12;
	background:none;
	background-color:#fff;
}

label {
	cursor:pointer;
}