$roboto: 'Roboto', sans-serif;
$lato: 'Lato', sans-serif;
$size: 1030px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $roboto;
    font-weight: 400;
}

h2 {
    font-size: 41px;
    color: #d0662d;
}

.container {
    max-width: $size;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.phone {
    text-decoration: none;
    font-family: $roboto;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 40px;
    color: #000;
}

.header {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 40px;
    &__inner {
        text-align: center;
        width: 530px;
        height: 530px;
        border-radius: 50%;
        background-color: #fff;
        border: 10px solid #f4d4a5;
        padding-top: 13px;
        position: relative;
        margin-left: 40px;
    }
    &__name {
        padding-top: 16px;
        text-transform: uppercase;
        font-family: $lato;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 15px;
        color: #bf4200;
    }
    &__title {
        font-weight: 700;
        font-size: 50px;
        color: #1fad26;
        padding: 0 45px;
        text-transform: uppercase;
    }
    &__img {
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%, 40%);
    }
}

.main {
    text-align: center;
    &__title {
        padding: 75px;
        font-weight: 400;
    }
    &__text {
        font-size: 30px;
        color: #1e1e1e;
        &_bold {
            font-size: 32px;
            font-weight: 700;
            padding-top: 45px;
            padding-bottom: 90px;
        }
    }
}

.project {
    &__title {
        margin-top: 90px;
        margin-bottom: 90px;
    }
    &__name {
        font-weight: 700;
        font-size: 32px;
        text-transform: uppercase;
    }
    &__size, &__area, &__price {
        font-size: 25px;
    }
    &__price {
        color: #17753b;
    }
    &__images {
        margin-top: 25px;
        margin-bottom: 125px;
    }
}

.download {
    min-height: 305px;
    background-color: #f1dfbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__link {
        display: inline-block;
        height: 95px;
        width: 604px;
        padding: 22px 5px;
        margin-top: -5px;
        font-family: $roboto;
        font-weight: 700;
        font-size: 32px;
        text-transform: uppercase;
        border: 5px solid #effd15;
        border-radius: 3px;
        background-color: #17753b;
        color: #fff;
    }
}

.gallery {
    padding: 115px 0;
    &__text {
        font-size: 25px;
        color: #1e1e1e;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        img {
            display: block;
        }
    }
}

.footer {
    padding-top: 170px;
    .phone {
        font-weight: 700;
        font-size: 50px;
    }
    &__email {
        font-family: #roboto;
        font-weight: 300;
        font-size: 30px;
        color: #2f8bc5;
        padding-top: 85px;
        padding-bottom: 195px;
    }
}
