* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}

a {
  text-decoration: none;
  display: inline-block;
  outline: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

#modal {
  display: none;
  max-width: 600px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__btn {
  margin: 50px auto 0;
}

.btn_default {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 8px 30px 8px 24px;
  border: 1px solid #ffc222;
  border-right-width: 20px;
  position: relative;
}

.btn_default::after {
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -12px;
}

.header .header__phone,
.header .header__email,
.header .footer__phone,
.header .footer__email,
.header .footer__adress, .footer .header__phone,
.footer .header__email,
.footer .footer__phone,
.footer .footer__email,
.footer .footer__adress {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.25px;
  position: relative;
}

.header .header__phone,
.header .header__email, .footer .header__phone,
.footer .header__email {
  padding-left: 24px;
  line-height: 45px;
  color: #d3d2d2;
}

.header .footer__phone,
.header .footer__email,
.header .footer__adress, .footer .footer__phone,
.footer .footer__email,
.footer .footer__adress {
  padding: 15px 0 0 34px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.25;
  position: relative;
}

.header .header__phone::before,
.header .footer__phone::before, .footer .header__phone::before,
.footer .footer__phone::before {
  content: "\f095";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header .header__phone, .footer .header__phone {
  padding-right: 30px;
}

.header .header__email::before,
.header .footer__email::before, .footer .header__email::before,
.footer .footer__email::before {
  content: "\f003";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header .footer__adress::before, .footer .footer__adress::before {
  content: "\f041";
  font-family: 'icomoon';
  position: absolute;
  left: 0;
  color: #ffc222;
}

.header {
  font-family: "Roboto", sans-serif;
}

.header__top {
  background-color: #303030;
}

.header__contacs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btn {
  position: relative;
  color: #1b1b1b;
  font-size: 16px;
  line-height: 36px;
  background-color: #ffc222;
  width: 262px;
  height: 45px;
  padding-left: 50px;
  padding-top: 5px;
}

.header__btn::before {
  content: "\f0b1";
  font-family: 'icomoon';
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}

.header__content {
  padding: 34px 0 23px;
}

.header__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btn_menu::before {
  content: "\f0c9";
  font-family: "icomoon";
  font-size: 30px;
  display: none;
  position: relative;
}

.menu li {
  display: inline-block;
}

.menu li + li {
  padding-left: 10px;
}

.menu a {
  color: #323232;
  line-height: 36px;
  font-size: 16px;
  border: 1px solid transparent;
  padding: 0 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu a:hover {
  border-color: #ffc222;
}

.slider .slick-btn, .news .slick-btn {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: #ffc222;
  cursor: pointer;
  color: #fff;
}

.slider .slick-btn::before, .news .slick-btn::before {
  position: absolute;
  font-family: "icomoon";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider .slick-next::before, .news .slick-next::before {
  content: "\f105";
}

.slider .slick-prev::before, .news .slick-prev::before {
  content: "\f104";
}

.slider .slick-btn.slick-disabled, .news .slick-btn.slick-disabled {
  background: transparent;
  cursor: default;
}

.slider {
  background-image: url(../img/bg_slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
}

.slider .slick-next {
  top: 70%;
  right: 0;
}

.slider .slick-prev {
  top: 70%;
  left: 0;
}

.slider .slick-btn.slick-disabled {
  border: 1px solid #fff;
}

.slider__item {
  outline: none;
  position: relative;
}

.slider__item_content {
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}

.slider__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin-bottom: 22px;
  font-family: "Roboto", sans-serif;
}

.slider__text {
  font-size: 18px;
  line-height: 24px;
  color: #d3d2d2;
  margin-bottom: 50px;
}

.servises .servises__top,
.servises .news__top,
.form .servises__top,
.form .news__top,
.news .servises__top,
.news .news__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servises .servises__title-box,
.servises .form__title-box,
.servises .news__title-box,
.form .servises__title-box,
.form .form__title-box,
.form .news__title-box,
.news .servises__title-box,
.news .form__title-box,
.news .news__title-box {
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}

.servises .servises__title-box::before,
.servises .form__title-box::before,
.servises .news__title-box::before,
.form .servises__title-box::before,
.form .form__title-box::before,
.form .news__title-box::before,
.news .servises__title-box::before,
.news .form__title-box::before,
.news .news__title-box::before {
  content: "";
  width: 100px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 11px;
  background-color: #ffc222;
}

.servises .servises__title,
.servises .form__title,
.servises .news__title,
.form .servises__title,
.form .form__title,
.form .news__title,
.news .servises__title,
.news .form__title,
.news .news__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #212020;
  margin-bottom: 10px;
}

.servises .servises__text,
.servises .form__text,
.servises .news__text,
.form .servises__text,
.form .form__text,
.form .news__text,
.news .servises__text,
.news .form__text,
.news .news__text {
  letter-spacing: 0.1px;
}

.servises .servises__btn,
.servises .news__btn,
.form .servises__btn,
.form .news__btn,
.news .servises__btn,
.news .news__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #373636;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
  margin-bottom: 10px;
}

.servises {
  padding: 50px 0 30px;
}

.servises__top {
  margin-bottom: 60px;
}

.servises__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servises__item {
  max-width: 360px;
  padding: 30px 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
          box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.servises__item_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #212020;
  margin: 24px 0;
}

.servises__item_text {
  letter-spacing: 0.1px;
  margin-bottom: 60px;
  text-align: center;
}

.servises__item_btn {
  justify-self: end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servises__item_btn .btn_default {
  color: #373636;
  letter-spacing: 0.25px;
}

.servises__item_btn .btn_default::after {
  color: #fff;
}

.servises__item_link {
  font-family: "Roboto", sans-serif;
  color: #050505;
  border-bottom: 1px solid #050505;
}

.about {
  background-image: url(../img/bg_about.jpg);
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about__inner {
  padding-top: 25px;
  padding-bottom: 45px;
  max-width: 545px;
}

.about__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  padding: 10px 0 20px;
}

.about__text {
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #d3d2d2;
  margin-bottom: 30px;
}

.about__btn {
  letter-spacing: 0.25px;
}

.about__btn.btn_default::after {
  color: #000;
}

.form {
  padding-top: 30px;
}

.form__inner {
  padding-bottom: 40px;
  background-image: url(../img/bg_form.png);
  min-height: 460px;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.form__box {
  max-width: 850px;
  padding-top: 45px;
}

.form__box_text {
  font-family: "Roboto", sans-serif;
  line-height: 36px;
  color: #282828;
}

.form__box_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__box_inner input, .form__box_inner textarea {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
  width: 100%;
  border: 1px solid #e6e6e6;
  outline: none;
}

.form__box_inner input {
  height: 40px;
  margin-bottom: 4px;
  padding: 0 17px;
}

.form__box_inner textarea {
  max-height: 200px;
  height: 100%;
  resize: none;
  padding: 10px 17px;
  margin-bottom: 34px;
}

.form__box_inner select {
  display: none;
}

.form__box_left {
  max-width: 260px;
  width: 100%;
}

.form__box_right {
  max-width: 555px;
  width: 100%;
}

.form__box_right_btn {
  color: #282828;
  background-color: transparent;
  outline: none;
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.jq-selectbox {
  position: relative;
  cursor: pointer;
}

.jq-selectbox__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e6e6e6;
  outline: none;
  height: 40px;
  padding: 0 45px 0 17px;
}

.jq-selectbox__select-text {
  width: 100%;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}

.jq-selectbox__trigger-arrow::after {
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  top: 12px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 17px;
}

.jq-selectbox__dropdown {
  position: absolute;
  top: 42px;
  width: 100%;
  margin: 2px 0 0;
  border: 1px solid #e6e6e6;
  background: #FFF;
}

.jq-selectbox__dropdown li {
  padding: 11px 17px;
}

.jq-selectbox__dropdown li:hover {
  background: #d3d2d2;
}

.advantages {
  background-image: url(../img/bg_advantages.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 287px;
}

.advantages__inner {
  padding: 54px 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  text-align: center;
  max-width: 360px;
  padding: 0 10px;
  position: relative;
}

.advantages__item_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding: 60px 0 15px;
}

.advantages__item_title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border: 2px solid #ffc222;
}

.advantages__item_title::after {
  content: "\f00c";
  font-family: "icomoon";
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}

.advantages__item_text {
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #d3d2d2;
}

.news {
  padding-top: 60px;
  padding-bottom: 35px;
  background: #f9f9f9;
}

.news .slick-next {
  bottom: -75px;
  right: -2px;
}

.news .slick-prev {
  bottom: -75px;
  right: 56px;
}

.news .slick-btn.slick-disabled {
  border: 1px solid #dadada;
  color: #9e9c9c;
}

.news__top {
  margin-bottom: 54px;
}

.news__inner {
  position: relative;
  padding-bottom: 75px;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__content_slider {
  max-width: 555px;
  width: 100%;
  padding-left: 70px;
  padding-right: 35px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
          box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
}

.news__content_slider_item {
  outline: none;
}

.news__content_slider_title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #242424;
  padding: 50px 5px 10px;
}

.news__content_slider_title::before {
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 70px;
  width: 65px;
  height: 31px;
  text-align: center;
  line-height: 31px;
  background: #ffc222;
  color: #fff;
  font-family: "icomoon";
}

.news__content_slider_text {
  letter-spacing: 0.1px;
}

.news__content_slider_author {
  letter-spacing: 0.1px;
  color: #212020;
  padding-top: 15px;
  padding-bottom: 45px;
}

.news__content_blog {
  max-width: 262px;
  position: relative;
}

.news__content_blog_img {
  width: 100%;
}

.news__content_blog_date {
  width: 47px;
  height: 54px;
  position: absolute;
  top: -1px;
  left: 10px;
  padding-top: 30px;
  text-align: center;
  color: #f9f9f9;
  font-weight: 700;
  background: #ffc222;
}

.news__content_blog_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #242424;
  padding-top: 15px;
  padding-bottom: 5px;
}

.news__content_blog_text {
  letter-spacing: 0.1px;
}

.footer__content {
  padding: 20px 0;
  background: #595959;
}

.footer__content_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content_block {
  max-width: 360px;
}

.footer__content_block_title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #fff;
}

.footer__content_block_text {
  font-family: "Roboto", sans-serif;
  color: #d3d2d2;
  padding-bottom: 25px;
}

.footer__content_block_contacs {
  padding: 10px 0;
}

.footer__map {
  padding-top: 13px;
  max-width: 635px;
  width: 100%;
  height: 250px;
}

.footer__copy {
  min-height: 40px;
  background: #303030;
  padding: 8px 0;
}

.footer__copy_text {
  text-align: center;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */